sentiment-analysis/workflow-spec.json
{
  "Comment": "A simple sentiment analysis application, trained on Amazon Reviews (https://s3.amazonaws.com/fast-ai-nlp/amazon_review_polarity_csv.tgz)",
  "StartAt": "RetrieveState",
  "States": {
    "RetrieveState": {
      "Comment": "Retrieve the dataset",
      "Type": "Task",
      "Resource": "sa_retrieve",
      "Next": "ExtractState"
    },
    "ExtractState": {
      "Comment": "Preprocess the dataset",
      "Type": "Task",
      "Resource": "sa_extract",
      "Next": "ChoiceState"
    },
    "ChoiceState": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.max_features",
          "NumericLessThan": 10000,
          "Next": "LATrainState"
        },
        {
          "Variable": "$.max_features",
          "NumericGreaterThanEquals": 10000,
          "Next": "HATrainState"
        }
      ],
      "Default": "FailState"
    },
    "LATrainState": {
      "Comment": "The training task of the low-accuracy sentiment analysis model",
      "Type": "Task",
      "Resource": "sa_train",
      "Next": "EvaluateFinalState"
    }, 
    "HATrainState": {
      "Comment": "The training task of the high-accuracy sentiment analysis model",
      "Type": "Task",
      "Resource": "sa_train",
      "Next": "EvaluateFinalState"
    }, 
    "EvaluateFinalState": {
      "Comment": "The evaluation task of the sentiment analysis model",
      "Type": "Task",
      "Resource": "sa_evaluate",
      "End": true
    }, 
    "FailState": {
      "Type": "Fail",
      "Error": "ErrorA",
      "Cause": "Unknown"
    }
  }
}
