person-detection/workflow.json
{
    "StartAt": "Resize",
    "States": {
      "Resize": {
        "Type": "Task",
        "Resource": "resize",
        "Next": "Detection"
      },
      "Detection": {
        "Type": "Task",
        "Resource": "yoloFunc",
        "Next": "ChoiceState"
      },
      "ChoiceState": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.Count",
            "NumericGreaterThanEquals": 1,
            "Next": "Crop"
          }
        ],
        "Default": "Done"
      },
      "Crop": {
        "Type": "Task",
        "Resource": "cropFunc",
        "End": true
      },
      "Done": {
        "Type": "Succeed",
        "End": true
      }
    }
  }
